:root {
    --orange-color: #ff8e00;
    --orange-hover-color: #ff8210;
}

/* BODY */
body {
    font-family: Arial;
    margin: 0;
    overflow-x: hidden;
}

body p {
    margin: 0;
}

/* HEADINGS */
h2 {
    font-size: 40px;
}
h4 {
    font-size: 26px;
}

/*HEADER*/
header {
    background-image: url("./images/bg_header.png");
    background-size: cover;
    color: #ffffff;
    height: 625px;
    width: 100%;
}
header > img {
    position: absolute;
    left: 90px;
    width: 350px;
}
header > div.nav-content {
    position: absolute;
    right: 100px;
    top: 30px;
}
header > div.nav-content p {
    display: inline;
    margin-bottom: 10px;
}
nav {
    margin-top: 15px;
}
nav > a {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
nav > a:hover {
    color: var(--orange-hover-color);
    font-size: 16px;
    text-decoration: none;
}
header > div.get-quote {
    bottom: 120px;
    position: absolute;
    left: 100px;
}
header button {
    background-color: var(--orange-color);
    border: none;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    position: relative;
}

header button:hover {
    background-color: var(--orange-hover-color);
}
