:root {
    --dark-gray: #312e2d;
    --orange-color: #ff8e00;
    --orange-hover-color: #ff8210;
}

/* BODY */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

body p {
    margin: 0;
}

/* HEADINGS */

h2 {
    font-size: 38px;
}

h3 {
    color: #ffffff;
    font-size: 24px;
}

h4 {
    font-size: 24px;
}

span {
    color: var(--orange-color);
}

/*HEADER*/

header {
    background-image: url("./images/bg_header.png");
    background-size: cover;
    color: #ffffff;
    display: flex;
    height: 625px;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;
}

div.header-content {
    display: flex;
    flex-direction: column;
    height: 94%;
    justify-content: space-between;
    max-width: 1200px;
    width: 94%;
}

div.header-content > div:first-child {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header img {
    filter: drop-shadow(2px 2px 2px #000000);
    width: 350px;
}

header div.nav-content p {
    margin-bottom: 10px;
}

header button {
    background-color: var(--orange-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 15px;
}

header button:hover {
    background-color: var(--orange-hover-color);
}

header button a {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

/* MAIN SECTIONS */

div.main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    max-width: 1200px;
    width: 94%;
}

/* SERVICES */

div.service-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

div.service {
    cursor: pointer;
    height: 320px;
    position: relative;
    width: 390px;
}

div.service h3 {
    margin: 0;
    padding-left: 20px;
}

div.service > img {
    height: 240px;
    width: 100%;
}

div.title {
    align-items: center;
    background-color: var(--dark-gray);
    display: flex;
    height: 80px;
    width: 100%;
}

div.overlay {
    align-items: center;
    background-color: var(--orange-color);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

div.overlay > h3 {
    margin-bottom: 15px;
    padding-left: 0;
}

div.overlay > p {
    width: 80%
}

div.service:hover div.overlay {
    opacity: 100%;
}

div.capabilities {
    align-self: flex-start;
    width: 80%;
}

div.capabilities > p {
    font-size: 18px;
    line-height: 1.5rem;
    margin-top: 10px;
}

div.capabilities > h3 {
    align-self: flex-start;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 50px;
}

/* ABOUT US */

section#about-us  {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

section#about-us div {
    width: 35%;
}

section#about-us div > p {
    font-size: 18px;
    line-height: 1.5rem;
    margin-top: 20px;
}

section#about-us img {
    width: 60%;
}

section#about-us h2.desktop {
    margin-top: 0;
}

section#about-us  h2.mobile {
    display: none;
}

/* GET QUOTE */

section#get-quote {
    margin-bottom: 50px;
}

section#get-quote h2 {
    align-self: flex-start;
}

#get-quote h4 {
    margin: 10px 0px;
}

div.contact-container {
    display: flex;
    justify-content: space-between;
    width: 100%
}

div.form {
    width: 46%;
}

div.address {
    width: 46%;
}

div.address p {
    margin-bottom: 5px;
    max-width: 380px;
}

div.address p:last-child {
    font-weight: bold;
    margin-top: 5px;
}

iframe  {
    height: 350px;
    margin-top: 10px;
    width: 500px;
}

/* CAPABILITIES */

/*section#capabilities > h2 {*/
/*    align-self: flex-start;*/
/*}*/

/*section#capabilities > p {*/
/*    line-height: 1.35rem;*/
/*}*/

/*section#capabilities > table {*/
/*    margin-top: 20px;*/
/*}*/

/*table h3 {*/
/*    margin: 0;*/
/*}*/

/*table span {*/
/*    color: #ffffff;*/
/*}*/

/* FOOTER */

footer {
    background-color: var(--dark-gray);
    color: var(--orange-color);
    display: flex;
    font-size: 12px;
    height: 60px;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

footer div.footer-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 94%;
}

footer a {
    color: var(--orange-color);
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
}

/*TABLET STYLES*/

@media (min-width: 641px) and (max-width: 915px) {
    /* SERVICES */

    div.service-info {
        justify-content: center;
    }

    div.service {
        margin-bottom: 20px;
    }
}

/*MOBILE STYLES*/

@media (max-width: 640px) {
    /*HEADER*/
    header {
        height: 500px;
    }

    div.header-content > div:first-child {
        flex-direction: column;
    }

    header div.nav-content p {
        font-weight: bold;
        margin-bottom: 10px;
        text-shadow: 2px 2px black;
    }

    /*HEADINGS*/
    h2 {
        font-size: 32px;
        margin-top: 0;
    }

    /* MAIN SECTIONS */
    section {
        margin-bottom: 50px;
        width: 100%;
    }

    /* SERVICES */
    div.capabilities {
        align-self: center;
        width: 90%;
    }

    /*ABOUT-US*/
    section#about-us  {
        align-items: center;
        flex-direction: column;
    }

    section#about-us  h2.mobile {
        display: block;
        text-align: center;
    }

    section#about-us  h2.desktop  {
        display: none;
    }

    section#about-us img {
        width: 100%;
    }

    section#about-us div {
        width: 90%;
    }

    section#about-us > p {
        width: 90%;
    }

    /* GET QUOTE */
    section#get-quote h2 {
        align-self: center;
        font-size: 30px;
    }

    div.contact-container {
        flex-direction: column;
    }

    section#get-quote iframe {
        width: 100%;
    }

    section#get-quote h4, p, a {
        padding-left: 10px;
    }


    /* FOOTER */
    footer {
        margin-top: 0;
    }

    footer div.footer-content {
        flex-direction: column;
        justify-content: space-around;
    }
}
